<p *ngIf="noReserve" id="no-reserv" style="text-align:center; color:red; font-size:22px; margin-top: 2rem;">No
  reservations to
  show</p>

<div *ngIf="!noReserve" style="text-align: center; margin: 2%;">
  <p style="font-size:22px; margin: 2rem;">List of your reservations</p>

  <div class="card shadow-2-strong card-registration rounded-2" style="margin:auto; max-width: 800px;">

    <div class="row justify-content-center">

      <table class="table table-striped rounded-2">
        <thead>
          <tr>
            <th scope="col" class="th">#</th>
            <th scope="col" class="th">Business Name</th>
            <th scope="col" class="th">Date</th>
            <th scope="col" class="th">Time</th>
            <th scope="col" class="th">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings; let i=index">
            <!-- <tr *ngFor="let i=index"> -->
            <th scope="row">{{ i }}</th>
            <td>
              <!-- {{this.bookings['email']}} -->
            </td>
            <!-- <td>{{ bizResult.name }}</td>
            <td>{{ bizResult.rating | number }}</td>
            <td>{{ bizResult.distance | number }}</td> -->
          </tr>
          <!-- <tr *ngFor="let item of searchResult" (click)="showDetails($event, bizResult)" style="height: 100px;">
            <th scope="row">{{ bizResult.order }}</th>
            <td>
              <img [src]="bizResult.imgURL" class="me-2" style="width: 80px; height: 80px; object-fit:cover;" />
            </td>
            <td>{{ bizResult.name }}</td>
            <td>{{ bizResult.rating | number }}</td>
            <td>{{ bizResult.distance | number }}</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
