<p *ngIf="noReserve" id="no-reserv" style="text-align:center; color:red; font-size:22px; margin-top: 2rem;">No
  reservations to
  show</p>

<div *ngIf="!noReserve" style="text-align: center; margin: 2%;">
  <p style="font-size:22px; margin: 2rem;">List of your reservations</p>

  <div class="card rounded-4 p-3" style="margin:auto; max-width: 800px;">

    <div class="scrollme">
      <table class="table table-hover table-responsive rounded-2">
        <thead>
          <tr class="border-bottom">
            <th scope="col" class="th">#</th>
            <th scope="col" class="th">Business Name</th>
            <th scope="col" class="th">Date</th>
            <th scope="col" class="th">Time</th>
            <th scope="col" class="th">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings; let i=index" class="border-bottom">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{this.booking.name}}</td>
            <td>{{this.booking.date}}</td>
            <td>{{this.booking.time}}</td>
            <td>{{this.booking.email}}</td>
            <td id="deleteIcon">
              <img [src]="'https://www.svgrepo.com/show/21045/delete-button.svg'" style="width: 15px; height: 15px;"
                (click)="deleteItem(this.booking.id)" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>