<div class="container-md">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3 mt-4" id="addr">
        <p id="addressHead" class="subheading">Address</p>
        <p id="address" class="infotext">{{bizDetails.address}}</p>
      </div>
      <div class="mb-3 mt-4" id="phon">
        <p id="phoneNumberHead" class="subheading">Phone</p>
        <p id="phoneNumber" class="infotext">{{bizDetails.phone}}</p>
      </div>
      <div class="mb-3 mt-4" id="stat">
        <p id="statusHead" class="subheading">Status</p>
        <p id="status" class="infotext" [ngStyle]="{'color': getColor(bizDetails.status)}">{{bizDetails.status}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3 mt-4" id="cate">
        <p id="categoryHead" class="subheading">Category</p>
        <p id="category" class="infotext">{{bizDetails.category}}</p>
      </div>
      <div class="mb-3 mt-4" id="pric">
        <p id="priceHead" class="subheading">Price range</p>
        <p id="price" class="infotext">{{bizDetails.price}}</p>
      </div>
      <div class="mb-3 mt-4" id="more">
        <p id="moreInfoHead" class="subheading">Visit yelp for more</p>
        <p id="moreInfo" class="infotext"><a href={{bizDetails.yelpLink}} target="_blank">Business link</a>
        </p>
      </div>
    </div>
  </div>
</div>