Button trigger modal
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Reserve Now
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title mb-0" id="exampleModalLabel">Reservation form</h1>
      </div>
      <div class="modal-body">
        <!-- <p class="text-center">{{name}}</p> -->
        <form action="" class="resInfo">
          <div class="mb-3">
            <!-- <div class="row mb-3"> -->
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" id="email" required>
          </div>

          <!-- <div class="row mb-3"> -->
          <div class="mb-3">
            <label for="date" class="control-label">Date</label>
            <!-- <input type="date" id="date" required> -->
            <input type="date" class="form-control" id="date" required>
          </div>
          <!-- <input type="text" data-plugin-datepicker class="form-control  date-picker" data-date-format="mm-dd-yyyy"> -->

          <!-- <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" id="date" />
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="fa fa-calendar"></i>
                  </span>
                </span>
              </div> -->
          <!-- <input type="date" class="form-control" data-date="12/03/2020" data-date-format="MM/DD/YYYY"> -->

          <div class="row mb-3">
            <label for="hour" class="control-label">Time</label>
            <div class="w-20 col-md-3">
              <select class=" form-select" id="hour" required>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
              </select>
            </div>
            :
            <div class="col-md-3">
              <select class="form-select" id="minute" required>
                <option>00</option>
                <option>15</option>
                <option>30</option>
                <option>45</option>
              </select>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-danger" id="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
