body {
  width: 350px;
  height: 350px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 0px 5px 2px grey;
  font-weight: bold;
  font-family: 'Open Sans', Arial, sans-serif;
}

.text-center {
  font-size: 20px;
  /* font-weight: bold; */
}


.modal-backdrop {
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}
