/* You can add global styles to this file, and also import other style files */
.mat-typography {
  background-repeat: no-repeat;
  background-size: auto;
  resize: vertical;
  background-position-x: center;
  background-position-y: bottom;
}
