h1 {
  font-weight: bold;
}

.smIcon {
  height: 30px;
  width: 30px;
  object-fit: contain;
  margin-left: 8px;
}

/* .mat-tab-header {
  background-color: #424242;
} */

/* .my-google-map {
  width: 800px;
  height: 600px;
} */
